{{extend 'layout.html'}}
<html>
	<body>
<!--{{=array}}
{{=categories}} -->
<style>
	div.pos_like{
		position: relative;
		left:0px;
	}
	div.pos_dislike{
		position: relative;
		left:100px;
	}
	div.pos_date{
		position: relative;
		left:0px;
	}
	div.pos_time{
		position: relative;
		left:-365px;
	}
	div.see_more{
		position: relative;
		left:480px;
	}
	div.position{
		position:relative;
		left:100px;
	}   
	div.change{
		position:relative;
		left:0px;
	}
	div.pos_change{
		position:relative;
		left:0px;
	}
	.field_set{
		border-color:#F00;
		border-style: solid;
	 }
 </style>
 {{if name_group!=0:}}
 <h3 style="color:blue"> Welcome {{=name}}</h3>
 {{pass}}
<br />
<br />
 <ul class="nav nav-pills">
	 <li>{{=A('Home Page',_href=URL('home_page'))}}</li>
	 {{if name_group==0:}}
	<li>{{=A('Login',_href=URL('login'))}}</li>
	<li>{{=A('Register',_href=URL('register'))}}</li>
	{{pass}}
	{{if name_group.group_id==2:}}
	<li class="active">{{=A('View Profile',_href=URL('admin_profile',args=name_id))}}</li>
	<li>{{=A('Add Category',_href=URL('add_category'))}}</li>
	<li>{{=A('Remove Category',_href=URL('remove_category'))}}</li>
	<li>{{=A('Post News',_href=URL('post_news'))}}</li>
	<li>{{=A('Remove User',_href=URL('remove_user'))}}</li>
	<li>{{=A('Make Admin',_href=URL('change_membership'))}}</li>
	{{elif name_group.group_id!=0 and name_group.group_id!=2:}}
	<li>{{=A('View Profile',_href=URL('user_profile'))}}</li>
	<li>{{=A('Post News',_href=URL('post_news'))}}</li>
	{{pass}}
	<li>{{=A('Search Post',_href=URL('search_post'))}}</li>
</ul>
{{len_categories=len(categories)}}
{{ arr={} }}
{{for i in range(0,len_categories,1):}}
	{{arr[categories[i].category]=0}}
{{pass}}
{{len_array=len(array)}}
{{for j in xrange(0,len_categories,1):}}
<table>
<fieldset class="field_set">
{{for i in xrange(0,len_array,1) : }}
	{{if array[i]['category_table'].category == categories[j].category :}}
		{{if arr[array[i]['category_table'].category]==0 :}}
			<legend>
				<h3 style="color:red">{{=array[i]['category_table'].category}}</h3>
			</legend>
		{{pass}}
		{{arr[array[i]['category_table'].category]+=1}}
		{{if arr[array[i]['category_table'].category] > 2 : }}

		{{else: }}
		<tr>
			{{if array[i]['post_item'].pic != '' :}}
				<td rowspan="6"><img width="300px" height="1%" src="{{=URL('download', args=array[i]['post_item'].pic)}}" /></td>
				<td><img width="90px" height="100" src="{{=URL('download', args=array[i]['auth_user'].image)}}" /></td>
				<td><b><h4 style='color:blue'><a href={{=array[i]['post_item'].url}}>{{=array[i]['post_item'].heading}}</a></h4></b></td>
			{{else:}}
			<td rowspan="6"><img width="240px" height="200" src="{{=URL(r=request,c='static/images',f='no_image.jpg')}}"/></td>
				<td><img width="90px" height="100" src="{{=URL('download', args=array[i]['auth_user'].image)}}" /></td>
				<td><b><h4 style='color:blue'><a href={{=array[i]['post_item'].url}}>{{=array[i]['post_item'].heading}}</a></h4></b></td>
			{{pass}}
		</tr>
		<tr><td colspan="3"><p style='color:grey'><a href={{=array[i]['post_item'].url}}>{{=array[i]['post_item'].url}}</a></p></td></tr>
			<tr>
				<td>Likes :{{=liking[i]}}</td>
				<td><div class="pos_like"> {{=A('Like',_href=URL('like_post',args=(array[i]['post_item'].id)),title="Accept",id="link")}} </div></td>
				<td><div class="pos_dislike">{{=A('Dislike',_href=URL('dislike_post',args=(array[i]['post_item'].id)),title="Accept",id="link")}}</div></td></tr>
			<tr>
			<td><div class="pos_date">Submitted on {{=array[i]['post_item'].post_date}} </div></td>
			<td> <div class="pos_like">{{=array[i]['post_item'].post_time}}</div></td>
			<td><div class="pos_dislike">by {{=array[i]['auth_user'].username}}</div></td>
			</tr>
			<tr>
				<td>{{=A('Delete Post',_href=URL('delete_post',args=(array[i]['post_item'].id)),title="Accept",id="link")}}</td>
				<td><div class="pos_like">{{=A('Edit Post',_href=URL('edit_post',args=(array[i]['post_item'].id)),title="Accept",id="link")}}</div></td>
				<td><div class="pos_dislike">{{=A('Comment',_href=URL('comment_post',args=(array[i]['post_item'].    id)),title="Accept",id="link")}}</div></td>
				</div></td>
			</tr>
			<tr>
				<td class="pos_dislike"><div class="change">{{=A((('Show Comments')),_href=URL('show_comment',args=array[i]['post_item'].id),_class="btn btn-primary",title="Accept",id="link")}}</div></td>
				<td class="pos_dislike"><div class="pos_change">{{=A((('Show Likes')),_href=URL('show_likes',args=array[i]['post_item'].id),_class="btn btn-primary",title="Accept",id="link")}}</div>
				</td>
				{{if array[i]['post_item'].url !='None':}}
				<td class="pos_dislike"><div class="pos_dislike">{{=A((('Play Video')),_href=URL('play_video',args=array[i]['post_item'].id),_class="btn btn-primary",title="Accept",id="link")}}</div></td>
				{{else:}}
					<td></td>
				{{pass}}
			</tr>
			<tr>
				<td colspan="3">
					<div id="show_hide" style="display:none;">
						{{if array[i]['post_item'].url2 !='None' and array[i]['post_item'].url2!='':}}
						{{url=array[i]['post_item'].url2}}
						{{if '=' in list(url):}}
						{{url=url.split('=')}}
						{{url1=url[1]}}
						{{url='http://www.youtube.com/embed/'+url1}}
						<iframe id="ytplayer" type="text/html" width="560" height="315"
							src="{{=url}}?autoplay=0" frameborder="0"></iframe>
						{{pass}}
						{{pass}}
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="4"><hr width="140%" style="text-align:left" size="30" color="blue" height="5px"/></td>
			</tr>
		{{pass}}
		{{if arr[array[i]['category_table'].category] ==2 :}}
		<tr colspan="4"><td>
			<div class="see_more">{{=A("See More",_href=URL('show_categories',args=(categories[j].id,0)),_class="btn btn-primary",title="Accept",id="link")}}</div>
		</td></tr>
		{{pass}}
		
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	{{pass}}
{{pass}}
</fieldset>
</table>
{{pass}}
<script>
	$('#show').toggle(function(){
		$('#show_hide').show();
		$(this).text('Hide Video');
			},function(){
			$('#show_hide').hide();
			$(this).text('Play Video');
			})
</script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/show_hide.js"></script>
</body>
</html>
